<div class="container mt-4" style="padding-top:2%">
    <div class="row mb-3" style="float: right;padding-left: 2%;padding-right: 2%;padding-bottom: 2%;">
      <div class="col-md-6">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." class="form-control"/>
      </div>
    </div>
    
    <div class="table-responsive " style="padding-left: 2%;padding-right: 2%;">
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th (click)="sort('id')">ID <span [class]="getSortIcon('id')"></span></th>
            <th (click)="sort('name')">Name <span [class]="getSortIcon('name')"></span></th>
            <th (click)="sort('email')">Email <span [class]="getSortIcon('email')"></span></th>
            <th (click)="sort('phone')">Phone <span [class]="getSortIcon('phone')"></span></th>
            <th (click)="sort('company.name')">Company <span [class]="getSortIcon('company.name')"></span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredData() | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.company.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls style="float: right;" (pageChange)="p = $event" class="d-flex justify-content-center"></pagination-controls>
  </div>
  